.form-indice{
    height: 190px;
    width: 207px;
    left: 682px;
    top: 94px;
    border-radius: 7px;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px 0px #00000026;
    margin: 50px auto;
    padding: 40px;
    
}

.form-indice label{
    height: 19px;
    width: 36px;
    border-radius: nullpx;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

.form-indice span {
    color:red;
}

.form-indice input{
    height: 30px;
    width: 100px;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    background: #E9E9E9;
    border:none;
    outline: 0;

}

.form-indice select,input{
    height: 30px;
    width: 100px;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    background: #E9E9E9;
    border:none;
    outline: 0;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #3333334D;
}

.form-indice input::placeholder{
    outline: 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #3333334D;
}

.btn-indice{
    width:207px;
    display:flex;
    justify-content: flex-end;
}

.tabela-indice{

    height: 200px;
    width: 420px;
    border-radius: 10px;
    margin:0 auto;
    background: #FFFFFF;
    border: 1px solid #33333380;
    margin-top:100px;
    overflow: scroll;
    
} 
.tabela-indice::-webkit-scrollbar{
    overflow: hidden;
    border: none;
    width: 0px;
}  

.tabela-indice .tr-colunas{
    height: 30px;
    width: 420px;
    left: 575px;
    top: 379px;
    border-radius: 10px;
    background: #BBBBBB;
}    

.tabela-indice th,td{
    text-align: center;
}

.tabela-indice td{
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    /* text-align: left; */
}
.tabela-indice th{
    height: 19px;
    width: 41px;
    left: 625px;
    top: 386px;
    border-radius: nullpx;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    color: #FFFFFF;

}

.tr-colunas th:nth-child(1){
    border-top-left-radius: 10px;
   
}
.tr-colunas th:nth-child(4){
    border-top-right-radius: 10px;
   
}

.icones-edit-del{
    display:flex;
}